@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: rgb(216, 216, 240);
  background: linear-gradient(
    45deg,
    rgba(216, 216, 240, 1) 0%,
    rgba(202, 236, 240, 1) 25%,
    rgba(38, 246, 216, 1) 50%,
    rgba(250, 250, 250, 1) 75%
  );
}
.box {
  background-color: white;
  color: #26f6d8;
}
.wrapper {
  height: 100vh;
}
